<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pic Scramble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pic ScrambleTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0367F72C1D10020E00BB77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0367F7481D10020E00BB77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0367F7531D10020E00BB77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036E54331D11D633002BDFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037185671D11922A0067D781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>037185751D1192320067D781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
